.widget.widget_nav_menu{
    ul{
        padding: 0px;
        list-style: none;
        text-transform: uppercase;
        >li{
            padding: 2.5px 0px;
            >a{

            }
        }
    }
}
