.navbar{
	height: auto;

	.container{
		height: 100%;
	}
}

.navbar-nav{
	margin-right: 0px;

	>li{
		>a{
			line-height: 30px;
			text-transform: uppercase;
			padding: $nav-link-padding;

			@include small{
				line-height: 14px;
			}
		}
	}
}

.navbar-header{
	height: 100%;
}

.navbar-brand{
	height: auto;
	padding: 10px 15px;
	@include nav-collapse(){
		max-width: calc(100% - 60px);
		height: 75px;
		padding: 0 15px;
	}

	img {
		max-height: 100%;
	}
}

.navbar-toggle{
	padding: 5px 6px;
}

@media only screen and (max-width: 1190px) and (min-width: 1127px) {
	.navbar-brand {
		padding-top: 22px;

		img {
			width: 300px;
		}
	}
}

@include nav-collapse() {
	.navbar{
		height: 75px;
	}

	.navbar-header {
		float: none;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		background: $color_black;
		position: absolute;
		width: 100%;
		left: 0;
		margin: 0 !important;
		display: block !important;
		opacity: 1;
		overflow: hidden !important;
		max-height: 0;
		visibility: hidden;
		transition: opacity 0.4s ease-in-out, max-height 0.3s ease-in-out, visibility 0s 0.4s;
	}

	.navbar-collapse.collapse {
		overflow: hidden !important;
	}

	.navbar-nav {
		float: none !important;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav > li > a{
		line-height: 20px;
		padding: $navbar-padding-vertical 15px;
	}

	.navbar-nav > li > .dropdown-menu {
		display: block;
		float: none;
		position: relative;
		padding: 0 10px;
	}

	.collapse.in{
		display: block !important;
		opacity: 1;
		overflow: hidden !important;
		visibility: visible;
		max-height: 1000px;
		transition: all 0.4s ease-in-out;
	}
}
