.page-hero{
    position: relative;
    height: $hero-carousel-cell-height;
    width: 100%;
    @include mobile(){
        height: $hero-carousel-cell-height-mobile;
    }
}

.page-hero-overlay,
.page-hero-image{
    width: 100%;
    height: 100%;
}

.page-hero-overlay{
    position: absolute;
    @include overlay($color_black);
}
